# Java
*.class
*.jar
*.war
*.ear
*.db
*.sql
*.log

# Maven
target/
*.log

# Eclipse IDE
.classpath
.project
.settings/

# IntelliJ IDEA
.idea/
*.iml
*.iws
out/

# NetBeans IDE
nbproject/private/
build/
nbbuild/
dist/
nbdist/

# VS Code
.vscode/

# MacOS
.DS_Store

# Windows
Thumbs.db

# Log files
*.log

# Maven wrapper
.mvn/
mvnw
mvnw.cmd

# Gradle wrapper
.gradle/
gradle-wrapper.jar
gradle-wrapper.properties
